@font-face {
    font-family: 'Tilt Neon';
    src: url('Fonts/TiltNeon-Regular.woff2') format('woff2'),
    url('Fonts/TiltNeon-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

[data-theme="light"]{
    --background_1:#fffffd; 
    --title_text:#3a425b;
    --highlight_1: #fe5d4d;
    --backlight_1: #f77c71;
    
}

[data-theme="dark"]{
    --background_1: #303149 ;
    --title_text: #fcae55;
    --highlight_1: #560682;
    --backlight_1: #079b7b;

}
@keyframes NavBarFall{
    0%{
        opacity: 0;
        transform: translateY(-60px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
    
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: var(--background_1);
    transition: ease-in .2s;
}

/* Navigation Bar */
.NavBar.S, .NavBar.XS { 
    display: none;
}

.NavBar.FS{
    display: grid;
    grid-template-columns: auto auto auto max-content;
    grid-template-rows: 59px 1px;
    height: 60px;
    width: 100%;
    justify-items: end;
    align-items: center;
    color: var(--title_text)
}
.Main.TitleText{
    margin-right: auto;
    font-family: 'Tilt Neon';
    font-size: 39px;
    padding: 0px 10px 0px 40px;
    text-wrap: nowrap;
}
.NavBar.FS .NavButtons{
    display: flex;
    height: 59px;
    align-items: center;
    text-wrap: nowrap;
    padding: 0px 10px;
}

.NavBar.FS .NavButtons li{
    display: flex;
    list-style: none;
    height: 50px;
    width: 180px;
    align-items: center;
    justify-content: center;
    padding: 0px 20px;
    font-family: 'Tilt Neon';
    font-size: 18px;
}

.NavBar.FS .NavButtons li a{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4rem;
    height: 50px;
    width: 180px;
    text-decoration: none;
    color: var(--subtext);
}

.NavBar.FS .NavButtons li a:hover{
    background-color: var(--backlight_1);
}

.switch {
    justify-self: center;
    margin: 10px 20px;
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.ThemeMode { 
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    height: 34px;
    width: 60px;
    border-radius: 2rem;
    background-color: #ff8181;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    border-radius: 2rem;
    background-color: #FF5454;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.ThemeMode:checked + .slider {
    background-color: #050508;
}
  
.ThemeMode:checked + .slider:before {
    background-color: #626495;
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

@media screen and (max-width: 1120px) {
    .NavBar.FS, .NavBar.FS > *{
        display: none;
    }
    .NavBar.S{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto auto auto;
        height: min(9vw ,60px);
        align-items: center;
    }
    .Main.TitleText{
        font-size: min(6vw,39px);
        padding-left: min(6vw, 40px);
        color: var(--title_text)
    }
    .HamburgerLabel{
        display: flex;
        position: relative;
        height: min(9vw, 60px);
        width: min(9vw, 60px);
        margin-left: auto;
        margin-right:min(3vw, 20px);
        align-items: start;
    }
    #NavStatus{
        height: 0px;
        width: 0px;
        opacity: 0;
    }
    .Hamburger,.Hamburger:after, .Hamburger:before{
        position: absolute;
        height: 8%;
        width: 100%; 
        background-color: #fffffd;
        content: " ";
        border-radius: 2vw; 
        transition: ease-in .2s;
        background-color: var(--title_text) ;
        margin-top: 15%
    }
    .Hamburger:after{
        margin-top: 30%;
        height: 100%;
        width: 100%;
    }
    .Hamburger:before{
        margin-top: 60%;
        height: 100%;
        width: 100%;
    }
    #NavStatus:checked + .Hamburger{
        transform: rotate(-30deg) translate(25%, 300%);
        width: 70%;
    }
    #NavStatus:checked + .Hamburger:after{
        transform: rotate(30deg) translate(0%, -200%);
        width: 0;
    }
    #NavStatus:checked + .Hamburger:before{
        transform: rotate(60deg) translate(-30%, 75%);
    }
    .NavItems, .switch{
        height: 0;
        opacity: 0;
        width: 100%;
        padding-left: min(6vw, 40px);
        align-items: center;
    }
    .NavItems a, .NavItems.Show a{
        text-decoration: none;
        color: var(--title_text);
        font-family: 'Tilt Neon';
    }
    .NavButtons.S{
        position: block;
        display: flex;
        flex-direction: column;
        height: min(200px, 40vw);
        list-style: none;
        grid-column: span 2;
    }
    .NavItems.Show.switch, .NavItems.Show{
        opacity: 0.75;
        position: relative;
        display: block;
        padding-left: min(6vw, 40px);
        font-size: min(4vw, 20px);
        font-family: 'Tilt Neon';
        margin: 0px;
        width: 100%;
        height: 20%;
    }
    .ThemeMode { 
        opacity: 0;
        width: 0;
        height: 0;
    }
    .slider {
        position: absolute;
        cursor: pointer;
        height: 80%;
        width: min(60px, 20%);
        border-radius: 2rem;
        background-color: #ff8181;
        -webkit-transition: .4s;
        transition: .4s;
    }
    .slider:before {
        position: absolute;
        content: " ";
        height: 75%;
        width: 40%;
        bottom: 15%;
        left: 10%;
        margin-top: 100%;
        border-radius: 100%;
        background-color: #FF5454;
        -webkit-transition: .4s;
        transition: .4s;
    } 
    .ThemeMode:checked + .slider {
        background-color: #050508;
    }
    .ThemeMode:checked + .slider:before {
        background-color: #626495;
        transform: translateX(100%);
    }    
}


.Body{
    display: grid;
    grid-template-rows: auto auto;
    justify-content: center;
}
.About{
    height: calc(100vh - min(9vw, 60px));
    width: 80vw;
    display: grid;
    grid-template-columns: min(55vw,550px) auto auto;
    grid-template-rows: auto auto auto auto auto;
    align-items: center;
}
.AboutName{
    grid-row:  1/ 2;
    grid-column: 1/2;
    height: min(75px, 4vw);
    width: min(550px, 50vw);
    font-size: min(4vw, 40px);
    font-family: "Tilt Neon";
    color: var(--title_text);
}

@-webkit-keyframes Wave{
    0%{transform: rotate(-30deg);}
    10%{transform: rotate(30deg);}
    20%{transform: rotate(-30deg);}
    30%{transform: rotate(30deg);}
    40%{transform: rotate(-30deg);}
    50%{transform: rotate(-30deg);}
    100%{transform: rotate(-30deg);}

}
.Emoji, .Emoji:hover{
    rotate: -10deg;
    position: absolute;
    margin-left: min(2vw,20px);
    margin-top: calc(-1*min(10px,1vw));
    transform-origin: bottom;
    background-color: transparent;
    animation: Wave 4s infinite;
}
.AboutIcons{
    display: grid;
    grid-template-columns: 10vw 10vw 10vw 10vw;   
    grid-template-rows: 10vw 10vw;
    height: 70%;
    width: 85%;
    justify-self: end;
    align-self: start ;
    grid-column: 2/4;
    grid-row: 1/3;
    list-style: none;
    font-family: 'Tilt Neon';
    font-size: min(2vw, 20px);
    color: var(--title_text);
    font-size: 1.5vw;
}

.AboutIcons li:not(:first-child){
    display: flex;
    height: 80%;
    width: 80%;
    align-self: center;
    justify-self: center;
    justify-content: center;
    align-items: center;
}.AboutIcons li img{
    height: 100%;
    width: 100%;
}

